extends layout

block content
  .jumbotron
    h2 Wellcome to website
    p Here is the definition of the user available only to logged users
    p Please log in to see all
    a.btn.btn-primary(href='/api/users', role='button') Show all users